/* css styles */

/* Change Home Page Orientation */
.quarto-about-trestles.column-page,
.quarto-about-trestles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Make Picture Appear On Top of Text */
.quarto-about-trestles .about-entity {
  order: 1;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  position: static;
  grid-column: 1 / -1;
}

/* Text Under Picture */
.quarto-about-trestles .about-contents {
  order: 2;
  text-align: center;
  padding 0;
  grid-column: 1 / -1;
}


/* Title */
.quarto-about-trestles .about-contents h1.title {
  text-align: left;
  margin 0 0 1rem 0;
  padding 0;
}

/* Paragraphs */
.quarto-about-trestles .about-contents p {
  font-size: 35rem;
  margin: 0 0 0rem 0;
}

/* Reduce blank space before footer */
#quarto-content,
#quarto-document-content,
main.content,
.page-columns,
.column-page {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer.footer,
.nav-footer {
  font-size: 10rem;
  margin-top: 0rem;
  padding-top: 0rem;
  padding-bottom: 0.1rem;
  )
