/* css styles */

/* Change Home Page Orientation */
.quarto-about-trestles.column-page,
.quarto-about-trestles {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  max-width: 900px !important;
  padding-bottom: 0 !important;
} 

/* Make Picture Appear On Top of Text */
.quarto-about-trestles .about-entity {
  order: 1 !important;
  text-align: center !important;
  position: static !important;
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0;

  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

/* Fix Picture Sizing */
.quarto-about-trestles .about-entity img,
.quarto-about-trestles .about-entity img.about-image {
max-width: 333px;
}

/* Text Under Picture */
.quarto-about-trestles .about-contents {
  order: 2;
  text-align: center;
  padding: 2;
}


/* Title */
.quarto-about-trestles .about-contents h1.title {
  text-align: left;
  margin: 0 0 0rem 0;
  padding: 0;
}

/* Paragraphs */
.quarto-about-trestles .about-contents p {
  font-size: 1.1rem !important;
  margin: 0 0 2rem 0;
  padding-right: 2rem;
}

/* Reduce blank space before footer */
#quarto-content,
#quarto-document-content,
main.content,
.page-columns,
.column-page {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer.footer,
.nav-footer {
  font-size: 0.95rem !important;
  margin-top: 1rem !important;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem !important;
  padding-right: 2rem !important;

  border-top: 1px solid #dddddd !important;
}
/* css styles */
